.textareaScroll::-webkit-scrollbar {
    display: none;
}


*::-webkit-scrollbar {
    width: 10px;
    visibility: hidden;
}


*::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    border-radius: 10px;
    outline: none;
}

#uploaderFile {
    border: 2px dashed #ccc;
    border-radius: 20px;
    max-width: 320px;
    font-family: sans-serif;
    padding: 20px;
    margin: 10px 0;
}
#uploaderManually {
    border: 2px dashed #ccc;
    border-radius: 20px;
    max-width: 320px;
    font-family: sans-serif;
    padding: 20px;
    margin: 10px 0;
}

#uploaderFile.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}